@import "./base.css";

body{
  background-color: rgb(97, 97, 97);
  margin: 0;
  padding: 0;

}
/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

